.body{
    background-color: aliceblue;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
}